html{
  font-size: 18px;

}

body{
  line-height: 1.4;
  font-family: Helvetica,sans-serif;

}

.container{
  max-width: 960px;
  margin: 0 auto;

}

header{
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  width: 100%;
}

.menu{
  background-color:cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  position: relative;
  top:1rem;

}

ul li{
  list-style: none;
  display: inline-block;
  margin: 1rem 2rem 1rem 0;
}

.show{
  display: none;
}


.symbol{
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol img{
  height: 1.5rem;
  margin:1rem 1rem 1rem 2rem;
}

h1{
  background-color: white;
  font-size: 2rem;
  line-height: 1.2;
  padding:1.5rem 5rem;
  position: relative;
  display: inline-block;
  font-weight: bold;
  float: right;
  margin-top:11rem;
  margin-right: -2rem;
}

.logos{
  height: 7rem;
  display: flex;
  margin:3rem 0;
  justify-content: center;
}

.logoDescrip{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 100%;
  align-items: center;
  width: 5rem;
  text-align: center;
  margin-left: 6rem;

}

.logoDescrip img{
  width:100%;
  height: auto;
}

#paper{
  width: 3.5rem;
  margin-left:0;
}

.content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5rem;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  margin-left: 5%;
}

#appointments{
  margin-right: 7rem;
}

.info h3{
  background-color: cadetblue;
  width: 10rem;
  font-weight: bold;
  font-size:1rem;
  padding:0.5rem 1.25rem;
  color: white;
  margin-bottom: 1rem;
}

footer .container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: azure;
  padding:4rem 0;
}

footer img{
  margin:0 1rem;

}


@media only screen and (max-width:1024px){

  .container{
    width: 100%;
    max-width: 100%;
  }

  .menu{
    position: static;
  }

  header{
    height: 22rem;
  }

  h1{
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-top:8rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width:670px){

  .remove{
    display: none;
  }
  .show{
    display: inline-block;
  }
}

@media only screen and (max-width:605px){

  header{
    height: 17rem;
    background-position: 20%;
  }

  h1{
    width: 100%;
    padding: 1rem 0;
    margin-top: 9rem;
    text-align: center;
    margin-right: 0;
  }
  .logos{
    flex-direction: column;
    height: auto;
    align-items: center;
    margin: 3.77rem 0;
  }
  .logoDescrip{
    margin:0 0 1.54rem 0;
    font-size: 0.77rem;
    font-family: Helvetica;
  }
  .logoDescrip p{
    margin-top: 0.4rem;
  }

  .content{
    flex-direction: column;
    align-items: flex-start;
  }

  .info{
    margin: 0;
    width: 100%;
  }

  .info h3{
    width: 100%;
    text-align: center;
  }

  .content p{
    margin: 1rem 0 4rem 0.5rem;
  }

  footer .container{
    justify-content: center;
  }

  .removeFooter{
    display: none;
  }
}
