html{
  font-size: 18px;

}

body{
  line-height: 1.4;
}

.container{
  max-width: 960px;
  margin: 0 auto;

}

header{
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.menu{
  background-color:cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Helvetica,sans-serif;
  position: relative;
  top:1rem;
}

ul li{
  list-style: none;
  display: inline-block;
  margin: 1rem 2rem 1rem 0;
}

.symbol{
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol img{
  height: 1.5rem;
  margin:1rem 1rem 1rem 2rem;
}

h1{
  background-color: white;
  font-size: 2rem;
  line-height: 1.2;
  padding:1.5rem 5rem;
  position: relative;
  display: inline-block;
  font-weight: bold;
  float: right;
  margin-top:11rem;
  margin-right: -2rem;
}

.logos{
  height: 7rem;
  display: flex;
  margin:3rem 0;
  justify-content: center;
}

.logoDescrip{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 100%;
  align-items: center;
  width: 5rem;
  text-align: center;
  margin-left: 6rem;
}

.logoDescrip img{
  width:100%;
  height: auto;
}

#paper{
  width: 3.5rem;
  margin-left:0;
}

.content{
  display: flex;
  justify-content: center;
  font-family: Helvetica;
  margin-bottom: 5rem;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  margin-left: 5%;
}

#appointments{
  margin-right: 7rem;
}

.info h3{
  background-color: cadetblue;
  width: 10rem;
  font-weight: bold;
  font-size:1rem;
  padding:0.5rem 1.25rem;
  color: white;
  margin-bottom: 1rem;
}

footer .container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: azure;
  padding:4rem 0;
}

footer img{
  margin:0 1rem;

}
